<div id="ClearQuest" class="tabcontent">

    <h3>ClearQuest Results</h3>

    <table id="ClearQuest Results" border="1px">

        <thead>

            <th class="small">#</th>
            <th class="small">CR</th>
            <th class="small">Contract Id</th>
            <th class="small">Project</th>
            <th class="small">Visibility Domain</th>
            <th class="small">Period - Month</th>
            <th class="small">Severity</th>
            <th class="small">Component</th>
            <th class="small">Target Release</th>
            <th class="small">Detected Release</th>

        </thead>
        <tbody>


        </tbody>

    </table>

</div>