<div id="Doors" class="tabcontent">

    <h3>DOORS Results</h3>

    <table id="DOORS Results" border="1px">

        <thead>

            <th class="small">#</th>
            <th class="small">Project</th>
            <th class="small">Component</th>
            <th class="small">Baseline</th>
            <th class="small">PUID</th>
            <th class="small">DOORS VERSION</th>
            <th class="small">In Working</th>
            <th class="small">Deleted</th>
            <th class="small">Change Request</th>

        </thead>
        <tbody>


        </tbody>

    </table>

</div>