<div id="KlocGit" class="tabcontent">

    <h3>KLOC GIT</h3>

    <table id="KLOC GIT Results" border="1px">

        <thead>

            <th class="small">#</th>
            <th class="small">TOOL</th>
            <th class="small">COMPONENT</th>
            <th class="small">FROM_BASELINE</th>
            <th class="small">FROM_BASELINE_DATE</th>
            <th class="small">TO_BASELINE</th>
            <th class="small">TO_BASELINE_DATE</th>
            <th class="small">ADD_LOC</th>
            <th class="small">MOD_LOC</th>
            <th class="small">DEL_LOC</th>
            <th class="small">TO_BASELINE_STREAM</th>
            <th class="small">FROM_BASELINE_STREAM</th>
            <th class="small">COMPUTATION_DATE_TIME</th>
            <th class="small">EXTRACTOR_VERSION</th>

        </thead>
        <tbody>


        </tbody>

    </table>

</div>