<div id="Main" class="tabcontent">

    <h3>Main</h3>

    <div id="dropZoneXmlConfigFileId">
        <table>
            <tr>

                <td>

                    <fieldset class="small">
                        <legend class="small">Drop here the XML Configuration File</legend>

                        <form id="dropZoneId" method="POST" action="/XmlConfigurationFile" class="dropzone"></form>
                        <div id="divXMLConfigurationFileNameId"></div>

                    </fieldset>

                </td>

                <td>

                    <div id="editor" class="editor">

                    </div>

                </td>
            </tr>
            <tr>

                <td>
                    <div id="jstree_demo_div">

                    </div>
                </td>

            </tr>

        </table>

        <form role="form" id="XMLConfigurationFileFormId" action="/launchMeasures" method="POST">

            <div id="submitButtonDivId" class="submitButtonDiv">
                <input id="submitButtonId" type="submit" value="Launch Measures" class="submitButton">
            </div>

        </form>
    </div>

</div>